<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Haedal</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>haedal</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>kakaokompassauth</string>
        <string>kakaolink</string>
        <string>kakaotalk</string>
        <string>naversearchapp</string>
        <string>naversearchthirdlogin</string>
        <string>nlogin</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>com.apple.security.files.user-selected.read-only</key>
    <true/>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    
    <!-- Permission Descriptions -->

    <key>NSCameraUsageDescription</key>
    <string>Need to upload image</string>
    <key>NSContactsUsageDescription</key>
    <string>Contacts</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Always and when in use</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Can I have location always?</string>
    <key>NSLocationUsageDescription</key>
    <string>Older devices need location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Need location when in use</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Need to use microphone</string>
    <key>NSMotionUsageDescription</key>
    <string>Motion</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Our application needs permission to save photos</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Need to upload image</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>App tracking transparency</string>
    
    <!-- URL Schemes -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>haedalScheme</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>kakaoe328e398b5297ab57d81161144651db9</string>
                <string>haedalScheme</string>
                <string>naverAQgp6F2PyQ7pZHvWbuI2</string>
            </array>
        </dict>
    </array>

    <!-- App Transport Security Settings -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>naver.com</key>
            <dict>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
            <key>naver.net</key>
            <dict>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
        </dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>

    <!-- Naver Service Settings -->
    <key>naverServiceAppUrlScheme</key>
    <string>haedalScheme</string>
    <key>naverConsumerKey</key>
    <string>AQgp6F2PyQ7pZHvWbuI2</string>
    <key>naverConsumerSecret</key>
    <string>srDMneLjbUsecret</string>
    <key>naverServiceAppName</key>
    <string>haedal</string>

    <!-- Kakao Settings -->
    <key>KAKAO_APP_KEY</key>
    <string>e328e398b5297ab57d81161144651db9</string>
</dict>
</plist>
