<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Haedal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>haedal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<!-- 카카오톡 설정 추가 -->
	<key>CFBundleURLTypes</key>
	<array>
		<!-- 네이버 소셜 로그인 설정 추가 -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
				<key>CFBundleURLName</key>
			<string>haedalScheme</string>
			
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- 카카오톡 설정 추가 -->
				<string>kakaoe328e398b5297ab57d81161144651db9</string> <!-- YOUR_APP_KEY 부분을 카카오 앱 키로 교체 -->
				<string>haedalScheme</string>
				<string>naverAQgp6F2PyQ7pZHvWbuI2</string> <!-- YOUR_CLIENT_ID 부분을 네이버 앱 클라이언트 아이디로 교체 -->
			</array>
		</dict>
		
		
	</array>

	<key>LSApplicationQueriesSchemes</key>
	<array>
	 <!-- 카카오톡 채널 -->
		<string>kakaokompassauth</string>
		<!-- KakaoLink -->
		<string>kakaolink</string>
		<string>kakaotalk</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>nlogin</string>
	</array>
	<!-- 네이버 소셜 설정 추가 -->
	<key>naverServiceAppUrlScheme</key>
	<string>haedalScheme</string>
	<key>naverConsumerKey</key>
	<string>AQgp6F2PyQ7pZHvWbuI2</string>
	<key>naverConsumerSecret</key>
	<string>srDMneLjbUsecret</string>
	<key>naverServiceAppName</key>
	<string>haedal</string>
	<!-- 네이버 소셜 설정 끝 -->
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>KAKAO_APP_KEY</key>
	<string>e328e398b5297ab57d81161144651db9</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Need to upload image</string>
	<key>NSContactsUsageDescription</key>
	<string>contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Always and when in use!</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can I have location always?</string>
	<key>NSLocationUsageDescription</key>
	<string>Older devices need location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need location when in use</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need to upload image</string>
	<key>NSMotionUsageDescription</key>
	<string>motion</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Our application needs Permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need to upload image</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>appTrackingTransparency</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.security.files.user-selected.read-only</key>
	<true/>
	
	<!-- http allows configurations 네이버 소셜 세팅 추가 start -->
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>naver.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>naver.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<!-- http allows configurations 네이버 소셜 세팅 추가 end -->
</dict>
</plist>
